<div class="container">
  <div class="schedule-header">
    <div class="text">
      <h4>حدد مواعيد العمل للمورد</h4>
      <p>
        تكوين إعدادات الأسبوع الخاص بك هنا. ما عليك سوى تحريك أشرطة التمرير
        وإضافة / إزالة أوقات الراحة لإعداد ساعات العمل.
      </p>
    </div>
    <div class="buttons">
      <a href="">إعدادات متقدمة</a>
      <button>اعدادات تقليدية</button>
    </div>
  </div>
  <ul>
    <li *ngFor="let day of weekDays">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="day.isToggleChecked" />
        <span class="slider round"></span>
      </label>
      {{ day.name }}
      <div class="time-fields" *ngIf="day.isToggleChecked">
        <input type="text" placeholder="Start Time" />
        <input type="text" placeholder="End Time" />
      </div>
    </li>
  </ul>
</div>
