<div id="resources_type" class="resources_type">
  <div class="container">
    <form action="">
      <label class="gray_label" for="">اختر نوع الموارد</label>
      <div class="inputs">
        <div class="input">
          <input type="radio" name="resources_type" id="service_time" />
          <span><img src="../../../assets/imgs/person.svg" alt="" /></span>
          <label for="service_time">حجز خلال اليوم</label>
        </div>
        <div class="input">
          <input type="radio" name="resources_type" id="" />
          <span><img src="../../../assets/imgs/Group.svg" alt="" /></span>
          <label for="service_time">حجز مدة<span>( أكثر من يوم )</span></label>
        </div>
      </div>
    </form>
  </div>
</div>
