* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color:  #DFE1E3;

}

.container {
  width: 90%;
  margin: 0 auto;
}

figure img {
  width: 100%;
  object-fit: contain;
}

.top {
  width: 100%;
  display: flex;
  gap: 2.1rem;
}

.right {
  width: 46%;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.left {
  width: 52%;
}
